/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

#portfolio {
	perspective: 1000;
}


.portfolio-item {
	width: 200px;
	height: 200px;
}


/* flip the pane when hovered */
.portfolio-item:hover , .portfolio-item.hover .portfolio-item {
	transform: rotateY(180deg);
}

/* flip speed goes here */
.portfolio-item {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}